#MainDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

 #Picture{
    
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    border-radius: 50%;
    overflow: hidden;
 }

 #Pages{
     margin-left: 10px;
     display: flex;
     justify-content: space-evenly;
     
 }

 #Logos{
     display: flex;
     justify-content: space-evenly;
 }

 .link{
     text-decoration: none;
 }

 .link:hover{
     text-decoration: underline;
 }

 .fa:hover{
     transform: scale(1.2);
 }

 #Intro{
     margin-left: 10%;
     margin-right: 10%;
     margin-bottom: 10%;
     display: flex;
     flex-direction: column;
     
 }

 #SchoolRow{
     
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
 }

.school{
    width: 300px;
    height: 250px;
}

#HKU{
    padding-top: 30px;
}

#Nixor{
    width: 416px;
}

#NixorList{
    padding-top: 10px;
}

#AllProjects{
    height: 500px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.Project-Row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.projects{
    /* width:250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Project-links{
    text-decoration: none;
    margin-top: 10px;
    

}

#TheHunt{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ProjectDetails{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#Crypto{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h-divider{
    border-top:1px solid gray;
    margin-bottom: 15px;
    
  }
  
  #CryptoDetails{
      /* margin: 0 120px; */
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  #CryptoPicContainer{
      width: 250px;      
      margin-bottom: 20px;
  }

  .Crypto-Pic{
      width: 250px;
      image-rendering: optimizeQuality;
  }
  
  .Breed-Pic{
    width: 250px;
    image-rendering: optimizeQuality;
}

#CartPicContainer{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#Cart{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* iframe{
    margin-left: 5%;
    margin-right: 5%;
} */

@media screen and (max-width: 1000px){
    #Intro{
        margin-top: 30px;
    }

    #Nixor{
        margin-top: 30px;
    }
}

@media screen and (max-width: 650px){
    

    .projects{
        margin: 30px 30px;
    }
}

@media screen and (max-width: 400 px){
    
    .projects{
        margin: 5% 5%;
        width: 150px;
    }

    .Project-Row{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

/* @media screen and (max-width: 600px){
    #CartPicContainer{
        width: 600px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
} */
  

/* @media screen and (max-width: 500px){

    #SchoolRow{
        margin-left: 5%;
        margin-right: 5%;
     display: flex;
     justify-content: space-evenly;
     flex-wrap: nowrap;
    }
    #HKU{
        width: 200px;
    }

    #Nixor{
        width: 200px;
    }
} */


